* {
    box-sizing: border-box;
}

th, td {
    padding: 10px;
}


/* Set additional styling options for the columns */
.column {
float: left;
}

/* Set width length for the left, right and middle columns */
.left {
width: 30%;
}

.middle {
width: 20%;
}

.right {
width: 50%;
}

.row:after {
content: "";
display: table;
clear: both;
}
